.flexbox{
    
    display: flex;
    flex-direction: row;
    width: 400;
    height: 500;
   gap: 24px;
    align-items: center;
    margin: 60px;
   
}
a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400px;
}
body{
    background-color: rgba(0, 0, 0, 0.779);
}
.navflex{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.687);
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    color: azure;
    border-radius: 8px;
}
.borderdiv{
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.687);
    border-radius: 8px;
}
h2{
    color: aliceblue;
    font-weight: 100;
    font-family: 'poppins',sans-serif;

}