.btn{
    background-color: #339af0;
    text-decoration: none;
    color: white;
    font-weight: 200;
    padding: 10px;
    border: 1;
    border-radius: 5px;
    border-color: #1971c2;
    margin-left: 690px;
    margin-top: 100px;
}

h1{
    text-align: center;
    font-family: 'poppins',sans-serif;
}
input{
    margin-left: 655px;
}